{% extends 'base.html' %}
<title>{% block title %} Change Password {% endblock title %}</title>

{% load crispy_forms_tags %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center mb-1">
    <div class="card p-3" style="width: 100%; max-width: 400px; background-color: white; border-radius: 10px;"> 
        <h5 class="text-center text-black">Change Password</h5>
        
        <form id="change-password-form" action="" method="post" style="margin-bottom: 0;">
            {% csrf_token %}
            {{ form|crispy }}
            <button id="update-password-button" class="btn btn-danger btn-block mt-2" type="submit">
                Update Password
                <span id="spinner" class="spinner-border spinner-border-sm ml-2" role="status" aria-hidden="true" style="display:none;"></span>
            </button>
        </form>
        
        <div class="mt-2">
            <a href="{% url 'password_reset' %}" class="btn btn-link btn-block text-center text-white">Forgot old password?</a> <!-- Changed text color to white -->
        </div>
    </div>
</div>

<script>
document.getElementById('change-password-form').addEventListener('submit', function() {
    document.getElementById('spinner').style.display = 'inline-block'; // Show the spinner
    document.getElementById('update-password-button').disabled = true; // Disable the button
});
</script>

{% endblock content %}
