{% extends 'base.html' %}
<title>{% block title %} Password Reset Complete {% endblock title %}</title>

{% load crispy_forms_tags %}

{% block content %}
    
<div class="container d-flex justify-content-center align-items-center mb-1">
    <div class="card p-3" style="width: 100%; max-width: 400px; background-color:white; border-radius: 10px;">
        <h4 class="text-center" style="color:green"> <!-- Changed text color to black -->
            Password Reset Successful
        </h4>
        <p class="text-center text-black"> <!-- Changed text color to black -->
            Your password has been reset successfully.
        </p>
        <a href="{% url 'login' %}" id="login-button" class="btn btn-danger btn-block mt-2"> <!-- Button color set to red -->
            Login Now
            <span id="login-spinner" class="spinner-border spinner-border-sm ml-2" role="status" aria-hidden="true" style="display:none;"></span> <!-- Spinner hidden by default -->
        </a>
    </div>
</div>

<script>
document.getElementById('login-button').addEventListener('click', function() {
    // Show the spinner on button click
    document.getElementById('login-spinner').style.display = 'inline-block';
});
</script>

{% endblock content %}
