{% extends 'base.html' %}
<title>{% block title %} Password Reset Confirm {% endblock title %}</title>

{% load crispy_forms_tags %}

{% block content %}
    
<div class="container d-flex justify-content-center align-items-center mb-1">
    <div class="card p-3" style="width: 100%; max-width: 400px; background-color: white;">
        <h5 class="text-center text-black"> <!-- Changed text color to black -->
            Create Your New Password
        </h5>
        
        <form id="reset-password-confirm-form" action="" method="post" style="margin-bottom: 0;">
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="text-danger">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            
            {% csrf_token %}
            {{ form|crispy }}
            <button id="submit-button" class="btn btn-danger btn-block mt-2" type="submit"> <!-- Button color set to red -->
                Save Password
                <span id="submit-spinner" class="spinner-border spinner-border-sm ml-2" role="status" aria-hidden="true" style="display:none;"></span> <!-- Spinner hidden by default -->
            </button>
        </form>
    </div>
</div>

<script>
document.getElementById('reset-password-confirm-form').addEventListener('submit', function() {
    // Show the spinner and disable the button on form submission
    document.getElementById('submit-spinner').style.display = 'inline-block';
    document.getElementById('submit-button').disabled = true;
});
</script>

{% endblock content %}
