{% extends 'base.html' %}
<title>{% block title %} Reset Password Done {% endblock title %}</title>

{% load crispy_forms_tags %}

{% block content %}
    
<div class="container d-flex justify-content-center align-items-center mb-2">
    <div class="card p-3" style="width: 100%; max-width: 400px; border-radius: 10px;"> 
        <h5 class="text-center" style="color: #0000FF;">
            Password Reset Email Sent To Your Gmail
        </h5>
        <p class="text-center text-dark">
            A password reset link has been sent to your email account. Please check your email to proceed with resetting your password.
        </p>
    </div>
</div>

{% endblock content %}
