{% load static %}

  <!-- footer section start -->
  <footer>
    <div class="footer_top pt-115">
      <div class="container ">
        <div class="row border-bottom justify-content-center">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-4">
            <div class="footer_content">
              <h5>About Us</h5>          
              <ul class="list-unstyled">
                {% if site_info.phone %}
                    <li><span>Phone:</span> {{ site_info.phone }}</li>
                {% endif %}
                {% if site_info.email %}
                    <li><span>Email:</span> {{ site_info.email }}</li>
                {% endif %}
                {% if site_info.address %}
                    <li><span>Address:</span> {{ site_info.address }}</li>
                {% endif %}
            </ul>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-6 col-6 mb-4">
            <div class="footer_content">
              <h5>Quick Links</h5>
              <ul>
                <li><a href="service.html"><i class="fa-solid fa-angles-right"></i> Services</a></li>
                <li><a href="about.html"><i class="fa-solid fa-angles-right"></i> About Us</a></li>
                <li><a href="campaign.html"><i class="fa-solid fa-angles-right"></i> New Campaign</a></li>
                <li><a href="blog-details.html"><i class="fa-solid fa-angles-right"></i> Latest News</a></li>
                <li><a href="contact.html"><i class="fa-solid fa-angles-right"></i> Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-6 col-6 mb-4">
            <div class="footer_content">
              <h5>Our Services</h5>
              <ul>
                <li><a href="donate.html"><i class="fa-solid fa-angles-right"></i> Blood Donation</a></li>
                <li><a href="#"><i class="fa-solid fa-angles-right"></i> Health Check</a></li>
                <li><a href="donate.html"><i class="fa-solid fa-angles-right"></i> Blood Bank</a></li>
                <li><a href="donate.html"><i class="fa-solid fa-angles-right"></i> Donate Process</a></li>
                <li><a href="donate.html"><i class="fa-solid fa-angles-right"></i> Blood Info</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="footer_content">
              <h5>Latest News</h5>
              <div class="footer_blog">
                <div class="fblog_item mb-3">
                  <div class="row align-items-center">
                    <div class="col-4">
                      <div class="fblog_img img">
                        <a href="blog-details.html"><img src="{% static 'assets/images/f1.jpg' %}" alt=""></a>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="fblog_content">
                        <a href="blog-details.html"> A Formula For Help And Happiness</a>
                        <span>18 February, 2022</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="fblog_item mb-3">
                  <div class="row align-items-center">
                    <div class="col-4">
                      <div class="fblog_img img">
                        <a href="blog-details.html"><img src="{% static 'assets/images/f2.jpg' %}" alt=""></a>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="fblog_content">
                        <a href="blog-details.html"> Donation is hope for poor helpless children</a>
                        <span>18 February, 2022</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="footer_bottom">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <p>Copyright &copy; 2020 {{ site_info.site_name}}. All rights reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer section end -->
