{% load static %}

  <!-- footer section start -->
  <footer>
    <div class="footer_top pt-3">
      <div class="container ">
        <div class="row border-bottom justify-content-center">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 ">
            <div class="footer_content">
              <h5>About Us</h5>          
              <ul class="list-unstyled">
                {% if site_info.phone %}
                    <li><span>Phone:</span> {{ site_info.phone }}</li>
                {% endif %}
                {% if site_info.email %}
                    <li><span>Email:</span> {{ site_info.email }}</li>
                {% endif %}
                {% if site_info.address %}
                    <li><span>Address:</span> {{ site_info.address }}</li>
                {% endif %}
            </ul>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-6 col-6 ">
            <div class="footer_content">
              <h5>Quick Links</h5>
              <ul>
                <li><a href="{% url 'donor_list' %}"><i class="fa-solid fa-angles-right"></i> Search Blood</a></li>
                <li><a href="{% url 'about' %}"><i class="fa-solid fa-angles-right"></i> About Us</a></li>
                <li><a href="{% url 'signup' %}"><i class="fa-solid fa-angles-right"></i> Create Account</a></li>
               
              </ul>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-6 col-6 ">
            <div class="footer_content">
              <h5>Others Link</h5>
              <ul>
                <li><a href="{% url 'contact' %}"><i class="fa-solid fa-angles-right"></i> Contact</a></li>
                <li><a href="{% url 'blog_list' %}"><i class="fa-solid fa-angles-right"></i> Blogs</a></li>
                <li><a href="{% url 'gallery' %}"><i class="fa-solid fa-angles-right"></i> Gallery</a></li>
       
              </ul>
            </div>
          </div>
         
        </div>
      </div>
    </div>

    
    <div class="footer_bottom">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <p>Copyright &copy; 2020 {{ site_info.site_name}}. All rights reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer section end -->
