{% load static %}
  <!-- header start -->
  <header>
    <div class="header_top d-none d-lg-block d-xl-block d-xxl-block">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-3">
            <div class="header_top_content">
              <span><i class="fa-solid fa-phone"></i></span>
              <a href="tel:01977259912">+880 1764982388</a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3">
            <div class="header_top_content">
              <span><i class="fa-solid fa-envelope"></i></span>
              <a href="mailto:ugvblood@gmail.com">ugvblood@gmail.com</a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3">
            <div class="header_top_content">
              <span><i class="fa-solid fa-location-dot"></i></span>
              <a href="#">UGV Barishal</a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3">
            <div class="header_top_social">
              <p>Follow Now</p>
              <ul class="d-flex">
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header_bottom header_bottom2">
      <div class="container">
        <div class="row align-items-center position-relative">
          <div class="col-xl-2 col-lg-2 col-md-4 col-6">
            <div class="header_logo">
              <a href="index-2.html"><img  src="{% static 'assets/logo/logo.png' %}" alt="images not founds" class="img-fluid"></a>
            </div>
          </div>
          <div class="col-xl-7 col-lg-8 d-none d-xxl-block d-xl-block">
            <ul class="main_menu">
              <li><a href="contact.html">Home</a></li>
              <li><a href="contact.html">Search Blood</a></li>
              
              <li><a href="about.html">About Us</a></li>
        
              <li class="position-relative">
                <a href="javascript:void(0)">Blog <i class="fa-solid fa-angle-down"></i></a>
                <ul class="submenu_wrapper">
                  <li><a href="blog-default.html">Blog</a></li>                  
                </ul>
              </li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="contact.html">Gallery</a></li>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-2  d-none d-xxl-block d-xl-block">
            <div class="header_search_menu d-flex">            
              <div>
                <a href="#" class="red_btn get_code">Account</a>
              </div>

            </div>
          </div>

          <!-- mobile menu bar -->
          <div class="col-lg-10 col-md-8 col-6 d-block d-xxl-none d-xl-none">
            <div class="d-flex align-items-center gap-2 justify-content-end">
             
              <div class="mobile_menu">
                <button class="header_toggle_btn bg-transparent border-0" type="button" data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvas-mobile">
                  <span></span>
                  <span></span>
                  <span></span>
                </button>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- header end -->
