{% extends 'base.html' %}
{% load static %}
{% block title %}
    
{% endblock title %}

{% block content %}
<!-- hero section start -->
<section class="hm1_hero_slider hm2_hero_slider">
  <!-- First Slide -->
  <div class="hm2_hero hm21 hm_bg" style="background: url('/static/assets/images/hm2.jpg') no-repeat center center; background-size: cover; width: 100%;">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-9 col-lg-9 col-md-11 col-12">
          <div class="hm2_content text-center">
            <h4>Donate to blood contribute</h4>
            <h2>Your Blood Can Bring Smile In Any One Person's Face</h2>
            <a href="donate.html" class="explore_now red_btn">Register Now</a>
            <a href="contact.html" class="explore_now red_btn">Find Blood</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Slide -->
  <div class="hm2_hero hm22 hm_bg" style="background: url('/static/assets/images/hm1.png') no-repeat center center; background-size: cover;width: 100%;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-9 col-lg-9 col-md-11 col-12">
          <div class="hm2_content text-center">
            <h4>Donate to blood contribute</h4>
            <h2>Your Blood Can Bring Smile In Any One Person's Face</h2>
            <a href="donate.html" class="explore_now red_btn">Register Now</a>
            <a href="contact.html" class="explore_now red_btn">Find Blood</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Third Slide -->
  <div class="hm2_hero hm23 hm_bg" style="background: url('/static/assets/images/hm3.jpg') no-repeat center center; background-size: cover;width: 100%;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-9 col-lg-9 col-md-11 col-12">
          <div class="hm2_content text-center">
            <h4>Donate to blood contribute</h4>
            <h2>Your Blood Can Bring Smile In Any One Person's Face</h2>
            <a href="donate.html" class="explore_now red_btn">Register Now</a>
            <a href="contact.html" class="explore_now black_btn">Find Blood</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero section end -->




  <!-- hero section start -->
  <!-- <section class="hm1_hero_slider hm2_hero_slider  ">
    <div class="hm1_hero hm2_hero hm21 hm_bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-9 col-md-11 col-12">
            <div class="hm2_content text-center">
              <h4>Donate to blood contribute</h4>
              <h2>Your Blood Can Bring Smile
                In Any One Person Face</h2>
                <a href="donate.html" class="explore_now red_btn">Register Now</a>
              <a href="contact.html" class="explore_now red_btn">Find Blood</a>
           </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hm1_hero hm2_hero hm22 hm_bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-9 col-md-11 col-12">
            <div class="hm2_content text-center">
              <h4>Donate to blood contribute</h4>
              <h2>Your Blood Can Bring Smile
                In Any One Person Face</h2>
                <a href="donate.html" class="explore_now red_btn">Register Now</a>
              <a href="contact.html" class="explore_now red_btn">Find Blood</a>
           </div>
          </div>
        </div>

      </div>
    </div>
    <div class="hm1_hero hm2_hero hm23 hm_bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-9 col-md-11 col-12">
            <div class="hm2_content text-center">
              <h4>Donate to blood contribute</h4>
              <h2>Your Blood Can Bring Smile
                In Any One Person Face</h2>
              <a href="donate.html" class="explore_now red_btn">Register Now</a>
              <a href="contact.html" class="explore_now black_btn">Find Blood</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section> -->
  <!-- hero section end -->


<!-- Home Blood Search Section -->
<div class="container home-blood-search  mb-5">
  <div class="text-center mb-4">
    <h2>Search for Blood Donors</h2>
    <i class="fas fa-tint fa-2x text-danger"></i> <!-- Blood icon after heading -->
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8 shadow-box">
      <form action="" method="GET">
        <div class="row g-3">
          <!-- Blood Type Select -->
          <div class="col-md-6">
            <label for="bloodType" class="form-label">Select Blood Type</label>
            <select class="form-select border-red" id="bloodType" name="bloodType">
              <option value="" selected disabled>Choose blood type...</option>
              <option value="A+">A+</option>
              <option value="A-">A-</option>
              <option value="B+">B+</option>
              <option value="B-">B-</option>
              <option value="AB+">AB+</option>
              <option value="AB-">AB-</option>
              <option value="O+">O+</option>
              <option value="O-">O-</option>
            </select>
          </div>

          <!-- Location Input -->
          <div class="col-md-6">
            <label for="location" class="form-label">Enter Your Location</label>
            <input type="text" class="form-control border-red" id="location" name="location" placeholder="City or Area">
          </div>

          <!-- Search Button -->
          <div class="col-12 d-flex justify-content-center">
            <button type="submit" class="btn search-btn text-white">
              <i class="fas fa-search me-2"></i> Search
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Blood Search Section -->


<!--our news start -->
<section class="news gray ptb-115">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="common_title text-center">
          <p>our news</p>
          <h2>Checkout News & Updates</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-4 mb-xl-0 mb-lg-0">
        <div class="news_content_item">
          <div class="news_img ">
            <img src="{% static 'assets/images/n1.jpg' %}" alt="">
            <a href="blog-details.html"><i class="fa-solid fa-plus"></i></a>
          </div>
          <div class="news_content">
            <div class="meta d-flex gap-4">
              <span><i class="fa-regular fa-clock"></i> 18 Feb, 2022</span>
              
            </div>
            <a href="blog-details.html">
              <h5>Donation is hope for poor helpless children</h5>
            </a>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, magni eos
              qui ratione voluptatem</p>
            <a href="blog-details.html">Read More <i class="fa-solid fa-angles-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-4 mb-xl-0 mb-lg-0">
        <div class="news_content_item">
          <div class="news_img ">
            <img src="{% static 'assets/images/n2.jpg' %}" alt="">
            <a href="blog-details.html"><i class="fa-solid fa-plus"></i></a>
          </div>
          <div class="news_content">
            <div class="meta d-flex gap-4">
              <span><i class="fa-regular fa-clock"></i> 18 Feb, 2022</span>
              
            </div>
            <a href="blog-details.html">
              <h5>Donation is hope for poor helpless children</h5>
            </a>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, magni eos
              qui ratione voluptatem</p>
            <a href="blog-details.html">Read More <i class="fa-solid fa-angles-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="news_content_item">
          <div class="news_img ">
            <img src="{% static 'assets/images/n3.jpg' %}" alt="">
            <a href="blog-details.html"><i class="fa-solid fa-plus"></i></a>
          </div>
          <div class="news_content">
            <div class="meta d-flex gap-4">
              <span><i class="fa-regular fa-clock"></i> 18 Feb, 2022</span>
              
            </div>
            <a href="blog-details.html">
              <h5>Donation is hope for poor helpless children</h5>
            </a>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, magni eos
              qui ratione voluptatem</p>
            <a href="blog-details.html">Read More <i class="fa-solid fa-angles-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--our news end -->

  <!-- gallery start -->
  <section class="gallery ptb-115 ">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-5">
          <div class="common_title text-center">
            <p>Gallary</p>
            <h2>Our Best Campaign Gallery</h2>
          </div>
        </div>

        <div class="gallary_slider slider-spacing custom_dots">
          <div class="gallary_item">
            <img src="{% static 'assets/images/h2_g1.jpg' %}" alt="">
            <a href="assets/images/h2_g1.jpg" data-fancybox="gallery"><i class="fa-solid fa-plus"></i></a>
          </div>
          <div class="gallary_item">
            <img src="{% static 'assets/images/h2_g2.jpg' %}" alt="">
            <a href="assets/images/h2_g2.jpg" data-fancybox="gallery"><i class="fa-solid fa-plus"></i></a>
          </div>
          <div class="gallary_item">
            <img src="{% static 'assets/images/h2_g3.jpg' %}" alt="">
            <a href="assets/images/h2_g3.jpg" data-fancybox="gallery"><i class="fa-solid fa-plus"></i></a>
          </div>
          <div class="gallary_item">
            <img src="{% static 'assets/images/h2_g1.jpg' %}" alt="">
            <a href="assets/images/h2_g1.jpg" data-fancybox="gallery"><i class="fa-solid fa-plus"></i></a>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- gallery end -->

 
  <!-- lets change start -->
  <section class="change red_bg">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-9 col-lg-9  col-12">
          <div class="change_content">
            <h2>Let's change the world, Join us now!</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type sp</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3  col-12 text-xl-end text-lg-end text-center">
          <a href="contact.html">Contact Us</a>
        </div>
      </div>
    </div>
  </section>
  <!-- lets change end --> 
  
{% endblock content %}
    