{% extends 'base.html' %}
{% load static %}
{% block title %}
    
{% endblock title %}
    
{% block content %}
  <!-- hero section start -->
  <section class="hm1_hero_slider hm2_hero_slider">
    <div class="hm1_hero hm2_hero hm21 hm_bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-9 col-md-11 col-12">
            <div class="hm2_content text-center">
              <h4>Donate to blood contribute</h4>
              <h2>Your Blood Can Bring Smile
                In Any One Person Face</h2>
              <a href="donate.html" class="explore_now red_btn">Explore Now</a>
              <a href="contact.html" class="explore_now black_btn">Contact Now</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="hm1_hero hm2_hero hm22 hm_bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-9 col-md-11 col-12">
            <div class="hm2_content text-center">
              <h4>Donate to blood contribute</h4>
              <h2>Your Blood Can Bring Smile
                In Any One Person Face</h2>
              <a href="donate.html" class="explore_now red_btn">Explore Now</a>
              <a href="contact.html" class="explore_now black_btn">Contact Now</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="hm1_hero hm2_hero hm23 hm_bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-9 col-md-11 col-12">
            <div class="hm2_content text-center">
              <h4>Donate to blood contribute</h4>
              <h2>Your Blood Can Bring Smile
                In Any One Person Face</h2>
              <a href="donate.html" class="explore_now red_btn">Explore Now</a>
              <a href="contact.html" class="explore_now black_btn">Contact Now</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- hero section end -->


   <!-- register & donate start -->
   <section class="register_donate gray_bg ptb-115">
    <div class="container">
      <div class="row g-0 register_top">
        <div class="col-xl-6 col-lg-6 col-12">
          <a href="register.html">
            <div class="register red_bg">
              <div class="register_content">
                <h4>Register Now</h4>
                <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is
                  pain,
                </p>
              </div>
              <div class="register_icon black_hover">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-6 col-lg-6  col-12">
          <a href="donate.html">
            <div class="register black_bg">
              <div class="register_content">
                <h4>Donate Now</h4>
                <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is
                  pain,
                </p>
              </div>
              <div class="register_icon red_hover">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5 mb-xl-0 mb-lg-0">
          <div class="register_donate_item2">
            <h2>01.</h2>
            <h5>Become a Donar</h5>
            <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because pain, but
              because
              occasionally</p>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5 mb-xl-0 mb-lg-0">
          <div class="register_donate_item2">
            <h2>02.</h2>
            <h5>Why Give Blood?</h5>
            <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because pain, but
              because
              occasionally</p>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="register_donate_item2">
            <h2>03.</h2>
            <h5>How Donations Helps</h5>
            <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because pain, but
              because
              occasionally</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- register & donate end -->


  <!-- service start -->
  <section class="service ptb-115">
    <div class="container">
      <div class="row mb-5 ">
        <div class="col-12">
          <div class="common_title text-center">
            <p>What We do</p>
            <h2>our best services</h2>
          </div>
        </div>
      </div>
      <div class="row align-items-center g-0 service_wrap">
        <div class="col-xl-6 col-lg-6 col-md-6  col-12 mb-5 order_1">
          <div class="service_item">
            <div class="img">
              <img src="{% static 'assets/images/s1.jpg' %}" alt="">
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6  col-12 mb-5 order_2">
          <div class="service_content ps-5">
            <h1>01</h1>
            <a href="#">
              <h4>Blood Donation</h4>
            </a>
            <p>I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Ut elit
              tellus, luctus nec ullamcorpe matti pulvinar dapibus leo.</p>
            <a href="service-details.html" class="red_btn service_btn">Read More</a>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6  col-12 mb-5 order_3">
          <div class="service_content text-end pe-5">
            <h1>02</h1>
            <a href="#">
              <h4>Health Check</h4>
            </a>
            <p>I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Ut elit
              tellus, luctus nec ullamcorpe matti pulvinar dapibus leo.</p>
            <a href="service-details.html" class="red_btn service_btn">Read More</a>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6  col-12 mb-5 order_4">
          <div class="service_item">
            <div class="img">
              <img src="{% static 'assets/images/s2.jpg' %}" alt="">
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6  col-12 mb-5 order_5">
          <div class="service_item">
            <div class="img">
              <img src="{% static 'assets/images/s3.jpg' %}" alt="">
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6  col-12 order_6">
          <div class="service_content ps-5">
            <h1>03</h1>
            <a href="#">
              <h4>Blood Bank</h4>
            </a>
            <p>I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Ut elit
              tellus, luctus nec ullamcorpe matti pulvinar dapibus leo.</p>
            <a href="service-details.html" class="red_btn service_btn">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- service end -->
<!--our news start -->
<section class="news gray ptb-115">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="common_title text-center">
          <p>our news</p>
          <h2>Checkout News & Updates</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-4 mb-xl-0 mb-lg-0">
        <div class="news_content_item">
          <div class="news_img ">
            <img src="{% static 'assets/images/n1.jpg' %}" alt="">
            <a href="blog-details.html"><i class="fa-solid fa-plus"></i></a>
          </div>
          <div class="news_content">
            <div class="meta d-flex gap-4">
              <span><i class="fa-regular fa-clock"></i> 18 Feb, 2022</span>
              <span><i class="fa-solid fa-comments"></i> 3 Comments</span>
            </div>
            <a href="blog-details.html">
              <h5>Donation is hope for poor helpless children</h5>
            </a>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, magni eos
              qui ratione voluptatem</p>
            <a href="blog-details.html">Read More <i class="fa-solid fa-angles-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-4 mb-xl-0 mb-lg-0">
        <div class="news_content_item">
          <div class="news_img ">
            <img src="{% static 'assets/images/n2.jpg' %}" alt="">
            <a href="blog-details.html"><i class="fa-solid fa-plus"></i></a>
          </div>
          <div class="news_content">
            <div class="meta d-flex gap-4">
              <span><i class="fa-regular fa-clock"></i> 18 Feb, 2022</span>
              <span><i class="fa-solid fa-comments"></i> 3 Comments</span>
            </div>
            <a href="blog-details.html">
              <h5>Donation is hope for poor helpless children</h5>
            </a>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, magni eos
              qui ratione voluptatem</p>
            <a href="blog-details.html">Read More <i class="fa-solid fa-angles-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="news_content_item">
          <div class="news_img ">
            <img src="{% static 'assets/images/n3.jpg' %}" alt="">
            <a href="blog-details.html"><i class="fa-solid fa-plus"></i></a>
          </div>
          <div class="news_content">
            <div class="meta d-flex gap-4">
              <span><i class="fa-regular fa-clock"></i> 18 Feb, 2022</span>
              <span><i class="fa-solid fa-comments"></i> 3 Comments</span>
            </div>
            <a href="blog-details.html">
              <h5>Donation is hope for poor helpless children</h5>
            </a>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, magni eos
              qui ratione voluptatem</p>
            <a href="blog-details.html">Read More <i class="fa-solid fa-angles-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--our news end -->

  <!-- gallery start -->
  <section class="gallery ptb-115 ">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-5">
          <div class="common_title text-center">
            <p>Gallary</p>
            <h2>Our Best Campaign Gallery</h2>
          </div>
        </div>

        <div class="gallary_slider slider-spacing custom_dots">
          <div class="gallary_item">
            <img src="{% static 'assets/images/h2_g1.jpg' %}" alt="">
            <a href="assets/images/h2_g1.jpg" data-fancybox="gallery"><i class="fa-solid fa-plus"></i></a>
          </div>
          <div class="gallary_item">
            <img src="{% static 'assets/images/h2_g2.jpg' %}" alt="">
            <a href="assets/images/h2_g2.jpg" data-fancybox="gallery"><i class="fa-solid fa-plus"></i></a>
          </div>
          <div class="gallary_item">
            <img src="{% static 'assets/images/h2_g3.jpg' %}" alt="">
            <a href="assets/images/h2_g3.jpg" data-fancybox="gallery"><i class="fa-solid fa-plus"></i></a>
          </div>
          <div class="gallary_item">
            <img src="{% static 'assets/images/h2_g1.jpg' %}" alt="">
            <a href="assets/images/h2_g1.jpg" data-fancybox="gallery"><i class="fa-solid fa-plus"></i></a>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- gallery end -->

  
  
{% endblock content %}
    